.testimonial {
    height: fit-content;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sav {
            height: 4.125em;
            padding-top: 1.25em;
            width: 4.125em;

            svg {
                scale: 0.8;
                fill: #ff4a73;
            }
        }

        p {
            text-align: center;
            padding-top: 1.25em;
            font-size: clamp(1rem, calc(4vw + 0.1875rem), 1.3125rem);
        }

        img {
            margin-top: 1.25em;
            border-radius: 50%;
            border: 4px solid #ff4a73;
            height: 100px;
        }

        h3 {
            padding-top: 1em;
            padding-bottom: 1em;
            font-size: clamp(1.125rem, calc(4vw + 0.375rem), 1.75rem);
        }
    
    }
    
}